#user-list {
  margin: 0 auto;
  width: 800px;
  margin-top: 50px;
}

.line-item {
  display: flex;
  margin-top: 5px;
  border: 1px solid;
  width: 800px;
}

.item-id {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-name {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-age {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-email {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item-country {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-company {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-birthday {
  width: 130px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
